body { 
    font-family: Arial, sans-serif; margin: 40px;
}
.formEnabled {
    margin-bottom: 30px;
    display: block;
}
.formDisabled {
    margin-bottom: 30px;
    display: none;
}
label {
    display: block; margin-top: 10px;
}
input, select, textarea {
    width: 20%;
    padding: 8px;
    margin-top: 5px;
}
table {
    min-width: 50%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 5px;
}
th, td {
    border: 1px solid #6d6d6d; padding: 6px; text-align: left;
}
th {
    background: #bbbbbb;
}
tr:nth-child(even){
    background-color: #d8d3d3;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}
.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modalContent table{
    width: 100%;
}
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button{
    margin-right: 2px;
    color: #ffffff;
    background-color: #737c75;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 5px 20px;
    letter-spacing: 1px;
    cursor: pointer
}
.switch, .load{
    color: #ffffff;
    background-color: #3584e4;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 5px 20px;
    letter-spacing: 1px;
    cursor: pointer
}
button.switch:hover, button.load:hover{
    color: #ffffff;
    background-color: #1a5fb4;
}
.submit, .submitExtra{
    margin-top: 5px;
    color: #000000;
    background-color: #2eca20;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 5px 20px;
    letter-spacing: 1px;
    cursor: pointer
}
.errorText {
    color: red;
}
.selected {
    background-color: green;
}
.descriptor {
    font-weight: bold;
}